.footer-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: black;
  color: #fff;
}
.last-con {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  margin-left: 18vw;
}
.icon {
  margin-left: 45vw;
}
.face,
.snap,
.insta {
  color: white;
  height: 7vh;
  padding: 5px;
}

@media (max-width: 760px) {
  .last-con {
    font-size: 15px;
    padding-top: 30px;
    margin-left: 12vw;
  }
  .icon {
    margin-left: 45vw;
  }
}

@media (max-width: 540px) {
  .last-con {
    font-size: 15px;
    padding-top: 30px;
    margin-left: 7vw;
  }
  .icon {
    margin-left: 35vw;
  }
}
@media (max-width: 280px) {
  .footer-back {
    /* width: 100vw; */
    margin-right: 0.5vw;
  }
}
